@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Inter", sans-serif;
    background-color:black;
    color: #ffff;
}
/* common styles */
.heading_paragraph{
    font-size: 0.8rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 0.5);
    
}
.btn_primary{
    padding: 10px 30px;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}
.btn_secondary{
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}
.all_container_heading{
    margin: 0 auto;
    text-align: center;
    max-width: 671px;
}

.all_container_heading>h3{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
/* common end */
/* header starts */
header{
    padding: 0px 100px;
}
/* nav starts */
.nav_logo{
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 2rem;
    color: #E6533C;
}
.navbar, .nav_item{
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: space-between;
}
.nav_gap{
    margin-right: 2rem;
}

.nav_item>p a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    align-items: center;
    
}
.nav_item {
    border: 1px solid #323232;
    padding: 0.62rem;
    border-radius: 2.5rem;
}
.nav_bg_color{
    background-color: #E6533C;
    padding: 0.62rem 1.2rem;
    border-radius: 25px;
    
}
/* nav end */
/* banner starts */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner_content{
    max-width: 45%;
    margin-top: 3rem;
}
.banner_heading{
    font-size: 3.125rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.banner_heading>span{
    font-family: "Playwrite AT", cursive;
    font-weight: 100;
   
}

.banner_btn{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 100px;
}

.banner_content_img{
    position: relative;
    max-width: 60%;
}
.banner_img{
    max-width: 100%;
    height: 580px;
    margin-left: 150px;
    margin-right: 50px;
}
.banner_img img{
    width: 100%;
    height: 100%;
}
.five00{
    padding: 10px;
    background-color: #323232;
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 25%;
    max-width: 160px;

}
.five00 > span{
    font-weight: bolder;
    font-size: 1.7rem;
}
.three50{
    
    padding: 10px;
    background-color: #323232;
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    left: 100px;
    bottom: 200px;
    max-width: 150px;
}
.three50 .parts{
    display: flex;
    gap: 10px;
}
 .part1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E6533C;
    margin: auto;
}
/* habits styles starts */
.habit_container{
    padding: 100px 100px;
}
.habit_items_box{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.habit_item{
    text-align: center;
}
.habit_item>h4{
    margin-top: 10px;
    margin-bottom: 5px;
}
.habit_img>img{
    border-radius: 50%;
    border: 5px solid #635b5b22;
}
/* run section start */
.run_section{
    padding: 100px 100px;
   
    
}
.run_container{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    padding: 80px;
}
.run_img{
    max-width: 400px;
    
}
.run_img img{
    height: 100%;
    width: 100%;
    border-radius: 18px;
}
.run_content>h3{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
/* run section end */
/* BMI calculator section start */
.bmi_calculator_section{
    padding: 100px 0px;
}
.bmi_calculator_div{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    background-color: #323232;
    padding: 50px 100px;
}
h4{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}
.calculator_chart table{
    width: 100%;
    border-collapse: collapse;
}
.calculator_chart table td, th {
    border: 1px solid #464545;
    padding: 8px;
  }
.calculator_chart table tr th{ 
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(241, 217, 217);
}
.calculator_chart table tr td{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}
.calculate_bmi{
    max-width: 577px;
}
.calculate_bmi input, select{
    height: 40px;
    width: 253px;
    margin-right: 10px;
    background-color: #464545;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    color: rgba(151, 139, 139, 0.5);
}
.calculate_bmi input::placeholder{
    padding-left: 5px;
}
#margin_bottom{
    margin-bottom: 1.5rem;
}
/* BMI calculator section end */

/* team section start */

.team_contents{
    margin: 100px;
    background-color: #323232;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}
.team_image_card{
    max-width: 398px;
    height: 300px;
    position: relative;
}
.team_image_card img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: brightness(70%);
    object-fit: cover;
}
.team_image_card .p1{
    position: absolute;
    left: 1.7rem;
    bottom: 2.5rem;
    font-weight: bolder;
}
.team_image_card .p2{
    position: absolute;
    left: 1.7rem;
    bottom: 1.2rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
}
/* team section end */

/* footer start */
.footer{
    margin-top: 100px;
    background-color: #323232;
    padding: 50px 100px;
}
.footer_main_part{
    display: flex;
    justify-content: space-between;
}
.foot_get_started p{
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}
.footer_border_line{
    margin-top: 3rem;
    height: 1.5px;
    background-color: #464545;
}
.footer>p{
    text-align: center;
    margin-top: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
}